/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */

body {
  background-color: #e5ebe9;
}

.node-type-selector {
  margin-bottom: 0;
}

.node-type-selector select {
  width: auto;
  height: auto;
  font-size: 90%;
}

.no-margin {
  margin: 0;
}

.bolded {
  font-weight: bold;
}

.editor-btns {
  width: 80%;
}

.simulator-table {
  font-size: 120%;
}

.hidden {
	display: none;
}

a, a:hover, h1 {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.anchor {
    margin-top:65px;
}

/** EDITOR **/
.mprot-graph {
	position: relative;
	width: 96%;
	height: 500px;
	margin-left: 2%;
  overflow: scroll;
}

.stateDiv {
  position: absolute;
	margin: 0;
  padding: 10px 10px 10px 10px;
  list-style: none;
  background-color: #FFF;
  border-radius: 10px;
	border-style: solid;
	border-width: 2px;
  border-color: #112835;
	font-weight: bold;
	font-size: 12pt;
	color: #112835;
	text-align: center;
	z-index: 5;
}

.stateDiv:hover {
    background-color: #3399FF;
	z-index:1000;
}

.initial {
	border-style: dashed;
}

.transLabel {
	position: absolute;
	margin: 0;
  padding: 10px 10px 10px 10px;
  list-style: none;
  background-color: #112835;
  border-radius: 10px;
	border-color: #112835;
	font-size: 70%;
	color: #FFF;
	text-align: center;
	z-index: 5;
}

.transLabel:hover {
	border-color: #3399FF;
	background-color: #3399FF;
    z-index: 1000;
}

.reliesOnOffersDiv {
	font-size: 70%;
	text-align: left;
	position: relative;
	width: 100%;
}
.reliesOnOffersDiv div {
	font-weight: normal;
}

/** jsPlumb SETTING **/
._jsPlumb_connector {
	z-index:4;
}

._jsPlumb_endpoint {
	z-index:1;
}

._jsPlumb_overlay {
	z-index:6;
}
