/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */

.bolded {
  font-weight: bold;
}

.editor-btns {
  width: 80%;
}

.simulator-table {
  font-size: 120%;
}

.hidden {
	display: none;
}

a, a:hover, h1 {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.anchor {
    margin-top:65px;
}

/** EDITOR **/
.mprot-graph {
	position: relative;
	width: 96%;
	height: 500px;
	margin-left: 2%;
    overflow: scroll;
}

.stateDiv {
    /*width: 200px;*/
	position: absolute;
	margin: 0;
    padding: 10px 10px 10px 10px;
    list-style: none;
    /*
    background-color: #111;
    background-image: linear-gradient(#C2EBFF, #ACE3FF);
    box-shadow: 0 2px 1px #9c9c9c;
    */
    background-color: #FFF;
    border-radius: 10px;
	border-style: solid;
	border-width: 2px;
    border-color: #112835;
	font-weight: bold;
	font-size: 12pt;
	color: #112835;
	text-align: center;
	z-index: 5;
}

.stateDiv:hover {
    background-color: #3399FF;
	z-index:1000;
}

.initial {
	border-style: dashed;
}

.transLabel {
    /*
    width: 100px;
    box-shadow: 0 2px 1px #9c9c9c;
    */
	position: absolute;
	margin: 0;
    padding: 10px 10px 10px 10px;
    list-style: none;
    background-color: #112835;
    border-radius: 10px;
	border-color: #112835;
	/*font setting*/
	font-size: 70%;
	color: #FFF;
	text-align: center;
	z-index: 5;
}

.handlerLabel {
    /*
    width: 100px;
    box-shadow: 0 2px 1px #9c9c9c;
    */
	position: absolute;
	margin: 0;
    padding: 10px 10px 10px 10px;
    list-style: none;
    background-color: #95a5a6;
    border-radius: 10px;
	border-color: #95a5a6;
	/*font setting*/
	font-size: 70%;
	color: #000;
	text-align: center;
	z-index: 5;
}

.transLabel:hover, .handlerLabel:hover {
	border-color: #3399FF;
	background-color: #3399FF;
    z-index: 1000;
}

.reliesOnOffersDiv {
	font-size: 70%;
	text-align: left;
	position: relative;
	width: 100%;
}
.reliesOnOffersDiv div {
	font-weight: normal;
}

/*POPUP SELECTOR*/
.popup {
	width:400px;
    /*height:180px;*/
    position:absolute;
    left:50%;
    top:40%;
    margin:-120px 0 0 -200px;
	background-color: #D4EAFF;
	z-index: 15000;
	box-shadow: 0 2px 1px #9c9c9c;
	color: #0077EE;
	font-size: 10pt;
	padding: 10px 10px;
	display:none;
}

.popup h3 {
	text-transform: uppercase;
    font-weight: bold;
	font-size: 13pt;
    text-decoration: none;
	text-align: center;
}

.popup h5 {
	position:relative;
	text-transform: uppercase;
    font-weight: bold;
	text-decoration: none;
	text-align: left;
	margin-top: 10px;
}

.popup_selector {
	margin: 10px 0px;
	position: relative;
	width: 395px;
	border-color: #0077EE;
	border-style: solid;
	border-width: 1px;
	color: #0077EE;
	background-color: whitesmoke;
}

.popup_button {
	position: relative;
	margin: 0px 20px;
	width: 60px;
    height: 30px;
	background-color: #0077EE;
	color: whitesmoke;
	text-align: center;
	padding-top: 10px;
	float: left;
	cursor: pointer;
}

.popup_selector_button:hover {
	background-color: whitesmoke;
	color: #0077EE;
}

.transition {
    margin:-150px 0 0 -200px;
}

.transition_unselectedReq {
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: #0077EE;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transition_selectedReq {
	background-color: yellow;
	border-style: solid;
	border-width: 1px;
	border-color: #0077EE;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
#popup_shadower {
    position: absolute;
    top: 0;
    left: 0;
    height: 2053px;
    width: 100%;
    cursor: no-drop;
    z-index: 10000;
	background: #3D7A99;
	opacity: 0.4;
	display:none;
}
*/

/** POPUP ANALYZER**/
.analyzer {
	top: 15%;
	left: 9%;
	margin: 0;
	width: 80%;
    font-size: 12pt;
}

.analyzer_node {
	font-size: 9pt;
	position: relative;
	display: inline-block;
	width: 100%;
}

.analyzer_node h4 {
	text-decoration: underline;
}

.analyzer_node_name {
	font-size: 11pt;
	min-width: 50px;
	font-weight: bold;
	padding-right: 5px;
}

.analyzer_node_state {
	padding-right: 15px;
	float: left;
}

.analyzer_node_caps, .analyzer_node_reqs{
	padding-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	float: left;
	list-style-type: none;
}

.analyzer_node_caps li, .analyzer_node_reqs li{
	display: inline;
	font-style: italic;
}

.analyzer_node_ops {
	width: 100%;
	display: inline-block;
	margin: 0;
	list-style-type: none;
	padding-left: 0;
}

.operation {
	padding: 3px;
	float: left;
	cursor: pointer;
	background-color: #ADFF85;
	border-style: solid;
	border-width: 1px;
    border-color: #0077EE;
	margin-left: 0px;
	margin-right: 10px;
}

.operation:hover {
	background-color: #0077EE;
	color: #ADFF85;
}

.unavailable {
	background-color: #FFFFA3;
	border-color: #AABBCC;
	color: #AABBCC;
	cursor: not-allowed;
}

.unavailable:hover {
	background-color: #FFFFA3;
	border-color: #AABBCC;
	color: #AABBCC;
}

.advertiser {
	display: inline-block;
	width: 100%;
	height: 22px;
	color: transparent;
	text-transform: uppercase;
}

.inconsistent {
	text-align: center;
	font-weight: bold;
	background-color: #FF3333;
	color: yellow;
}

/** jsPlumb SETTING **/
._jsPlumb_connector {
	z-index:4;
}

._jsPlumb_endpoint {
	z-index:1;
}

._jsPlumb_overlay {
	z-index:6;
}
